
body {
    margin: 0;
    background-color: #1A1A1A;
    font-family: 'Roboto Slab', serif;
    color: white;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
img {
    max-width: 100%;
}
.container {
    padding-inline: 70px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
/* style for header */

.logo__image {
    width: 100%;
    max-width: 140px;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav__link {
    font-size: 20px;
    padding: 20px 15px;
    display: inline-block;
    font-weight: 900;
    color: white;
    text-decoration: none;
}

/* style for banner */

.banner {
    background-image: url('../image/banner-background.png');
    display: flex;
    align-items: center;
    column-gap: 50px;
    padding: 244px 70px 132px 70px;
    
}
.banner__content,
.banner__image {
    width: 50%;
}

.sub-heading {
    font-size: 24px;
    line-height: 31px;
}

.banner-heading {
    font-size: 96px;
    line-height: 126px;
    margin: 0;
}

.heading-3 {
    font-size: 36px;
    font-weight: 400;
    margin: 0;
}

.button {
    font-size: 24px;
    font-weight: 900;
    line-height: 31px;
    text-decoration: none;
    color: #fff;
    border: 1px solid orange;
    padding: 15px 30px;
    display: inline-block;
    border-radius: 15px;
    margin-top: 23px;
}


.banner--image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* About Me */

.about-me {
    padding: 47px 75px 92px 75px;
}

.section__heading{
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}

.section__content{
    display: flex;
}
.section__content--left,
.section__content--right{
    width: 100%;
    max-width: 50%;
}

.about-me-image{
    aspect-ratio: 1.2;
    max-width: 480px;
    object-fit: cover;
    border-radius: 20px;
}
.section__content--right {
    text-align: center;
}
h3.section-title {
    font-size: 36px;
    margin: 0;
    
}
.button--solid {
    color: #000;
    background-color: #F4FA1A;
    border: none;
}

/* section my skill */
.my-skill{ 
    
    padding-inline: 70px;
}
.section-content-wrapper{
    display: flex;
}
.section-content-left{
    max-width: 50%;
    width: 100%;
}
.section-content-right{
    max-width: 50%;
    width: 100%;
}
.progress-item{
    margin-bottom: 19px;
}
.progress-label{
    width: 100%;
    display: block;
    display: flex;
    justify-content: space-between;
}
.progress-bar{
    width: 100%;
    height: 9px;
    margin-top: 10px;
    background: #BBBBBB;
    position: relative;
}
.progress-bar:before {
    content:'';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #F4FA1A;
}
.progress-bar-90:before{
    max-width: 90%;
}
.progress-bar-80:before{
    max-width: 80%;
}
.progress-bar-40:before{
    max-width: 40%;
}
.progress-bar-50:before{
    max-width: 50%;
}


/* section project */
.project{
    padding-inline: 70px;
}











